Flask
Flask-CORS
Flask-Limiter
PyJWT
Werkzeug
python-dotenv
gunicorn
reportlab
arabic-reshaper
python-bidi
SQLAlchemy
google-auth
google-auth-oauthlib
google-api-python-client
APScheduler
requests
pysqlite3-binary
boto3
google-generativeai
